body {
   --clr-bg: #fff;
   --clr-text: #000;
   display: grid;
   place-items: center;
   font-size: 2rem;
   background-color: var(--clr-bg);
   color: var(--clr-text);
}
body#red {
   --clr-bg: #600;
   --clr-text: #faa;
}
body#dark {
   --clr-bg: #000;
   --clr-text: #fff;
}
button {
   padding: 1.5rem;
   border: 0.25rem solid var(--clr-text);
   border-radius: 50%;
   background-color: #fff;
}
button#red  { background-color: #600; }
button#dark { background-color: #000; }